@import '~bootstrap/scss/bootstrap';

head {
  align-self: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('https://i.imgur.com/aiVOjMi.jpg');
  background-color: #cccccc;
  height: 500px;
  background-position: top;
  background-size: cover;
  position: relative;
  text-align: center;
}


a:hover {
  color: white;
}

legend {
font-size: 30px;
padding: 13px 0;
}

input [type=text] {
border: none;
border-bottom: 3px solid black;
}

button {
  background-color: transparent;
  float: right;
}

.hidden {
  display: none;
}
