@import '~bootstrap/scss/bootstrap';

head {
  align-self: center;
}

body {
  background-color: #445c82;
  text-align: center;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

.hidden {
  display: none;
}
